body{
    background-image: url("/billeder/kryptologi/baggrund.png");
}

#krypt{
    position: fixed;
    width: 60%;
    height: 50%;
    background-color: black;
    color: white;
    bottom: 100px;
    margin-left: 15%;
    padding: 50px;
    border-radius: 12px;
}
#krypt p{
    margin: 50px;
}